body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.chat-container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

.logo {
    background-color: #25d366;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #128C7E;
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.logo img {
    margin-right: 10px;
}

.h1 {
    font-size: 18px;
    margin-left: 10px;
}

.usertypingbutton {
    display: none;
}

.contain {
    padding: 20px;
    max-height: 400px;
    overflow-y: scroll;
    min-height: 200px;
}

.form-container {
    padding: 20px;
    background-color: #fff;
    border-top: 2px solid #128C7E;
    display: flex;
    flex-direction: column;
}

#input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.attachment-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.attachment-button label {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    background-color: #8d978e;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.attachment-button label:hover {
    background-color: #128C7E;
}

.attachment-button label span {
    margin-right: 8px;
}

#fileInput {
    display: none;
}

button {
    padding: 10px 16px;
    border: none;
    background-color: #25d366;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #128C7E;
}

#forms{
    display: inline-flex;
}
.message {
    font-size: 16px;
    border-radius: 10px;
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%; 
}

.send {
    background-color: #dcf8c6;
    color: #000;
    float: right;
    margin-left: 30%;
}

.receive {
    background-color: #e2e2e2;
    color: #000;
    float: left;
    margin-right: 30%;
}

.join {
    background-color: #4caf50;
    color: #fff;
    float: left;
    margin-right: 30%;
}

.left {
    background-color: #f44336;
    color: #fff;
    float: left;
    margin-right: 30%;
}

.timestamp {
    float: right !important;
    bottom: 0 !important;
    margin-top: 5px !important;
    font-size: 12px !important;
    color: #aaa !important;
}

@media screen and (max-width: 800px) {
    .message {
        max-width: 80%;
    }
}

@media screen and (max-width: 355px) {
    .message {
        max-width: 90%;
    }
}

.main_message{
    font-size: 14px;
}
.sender-name {
    font-weight: bold;
    color: #8a8c8f;
    margin-right: 5px;
    font-size: 13px;
}